{% extends 'layouts/base.html.twig' %}

{% form_theme ['forms/elements/money.html.twig'] %}

{% block content %}
    {% if fromMember is defined and fromMember is not null and toMember is defined and toMember is not null %}
        <div
            id="transfer-message"
            class="alert alert-success alert-dismissible"
            role="alert"
        >
            <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
            >
                <span aria-hidden="true">&times;</span>
            </button>
            Your beneficiary summary is {{ member(toMember) }} <br>
            Your summary is {{ member(fromMember) }}
        </div>
    {% endif %}

    {{ form_start(form, {'action': '/transfer-funds'}) }}

    {{ element_row(
        form.toMemberId, {'label': 'Transfer to', 'attr': {'id': 'toMember'}}
    ) }}
    {{ element_row(form.amount, {'label': 'Amount', 'attr': {'id': 'amount'}}) }}
    {{ form_rest(form) }}

    <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-share"></span> Transfer
    </button>

    {{ form_end() }}
{% endblock %}
